@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap");

.friendList-list {
  font-family: "Ubuntu Sans", sans-serif;
  display: flex;
  justify-content: center;
  gap: 12px;
  list-style: none;
  padding-top: 40px;
  padding-bottom: 40px;
}
